<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Testing Exercise</title>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="16x16"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>

    <script type='text/javascript' src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js'></script>

    <script type='text/javascript' th:src="@{/js/requests.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-one').click(function () {
                $('#btn-one').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').attr('disabled', true);
                getAllProducts();
            });
            $('#btn-two').click(function () {
                $('#btn-two').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').attr('disabled', true);
                calculate();
            });
            $('#btn-three').click(function () {
                $('#btn-three').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').attr('disabled', true);
                clearReceipt();
            });
        });
    </script>
</head>

<body oncontextmenu='return false'>

<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
    <div class="float-left logo-width">
        <a id="liferay-brand" href="http://localhost:9000">
            <img alt="swagger" height="30" width="102" src="/images/liferay-logo.svg"/>
        </a>
        <span class="h5 lef">Testing Exam</span>
    </div>
    <div class="float-right logo-width">
        <a id="fuel-brand" href="https://fuel.ag" target="_blank">
            <img class="logo__img" style="float:right" alt="client" height="35" src="/images/logo-fuel.svg"/>
        </a>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>BackEnd Software Engineer</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-left">List of All Available Products</h4>
                            <hr>
                            <div class="table-responsive">
                                <table id="products" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <button type="button" id="btn-one" class="btn btn-primary mt-5">
                                    Get All Products!
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <h4 class="card-title text-left">Total Receipt</h4>
                            <hr>
                            <div class="table-responsive">
                                <table id="receipt" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">

                                <button type="button" id="btn-three" class="btn btn-light mt-5 mr-5" disabled>
                                    Clear Receipt!
                                </button>
                                <button type="button" id="btn-two" class="btn btn-dark mt-5 ml-5" disabled>
                                    Calculate!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Receipt</h4>
            </div>
            <div class="modal-body ">
                <div class="px-4 py-5">
                    <h5 class="text-uppercase">Mauro Sousa</h5>
                    <h4 class="mt-5 theme-color mb-5">Thanks for your order</h4> <span class="theme-color">Payment Summary</span>
                    <table id="invoice" class="table table-hover">
                        <tbody>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between"><small>Sales Taxes</small> <small
                            id="sales-taxes"></small></div>
                    <div class="d-flex justify-content-between mt-3"><span class="font-weight-bold">Total</span>
                        <span id="total-amount" class="font-weight-bold theme-color"></span></div>
                </div>
                <div class="text-center mt-5">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>